@model MarketUtilities_V2.Data.ViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Categoria.nombre" class="control-label"></label>
                <input asp-for="Categoria.nombre" class="form-control" />
                <span asp-validation-for="Categoria.nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria.modified_by" class="control-label"></label>
                <input asp-for="Categoria.modified_by" class="form-control" />
                <span asp-validation-for="Categoria.modified_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria.created_by" class="control-label"></label>
                <input asp-for="Categoria.created_by" class="form-control" />
                <span asp-validation-for="Categoria.created_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria.moified_date" class="control-label"></label>
                <input asp-for="Categoria.moified_date" class="form-control" />
                <span asp-validation-for="Categoria.moified_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria.pasilloID" class="control-label"></label>
                <select asp-for="Categoria.pasilloID" class="form-select" >
                    {@if (Model.oListaPasillo.Count() > 0)
                    {
                        @foreach (var item in Model.oListaPasillo)
                        {
                            <option value=@item.nombre>@item.nombre</option>
                        }
                    }
                    else
                    {
                        <option value="N/A">NO HAY REGISTROS</option>
                    }

                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
