@model MarketUtilities_V2.Data.ViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Producto.nombre" class="control-label"></label>
                <input asp-for="Producto.nombre" class="form-control" />
                <span asp-validation-for="Producto.nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.precio" class="control-label"></label>
                <input asp-for="Producto.precio" class="form-control" />
                <span asp-validation-for="Producto.precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.sku" class="control-label"></label>
                <input asp-for="Producto.sku" class="form-control" />
                <span asp-validation-for="Producto.sku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.codigoDeBarras" class="control-label"></label>
                <input asp-for="Producto.codigoDeBarras" class="form-control" />
                <span asp-validation-for="Producto.codigoDeBarras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.modified_by" class="control-label"></label>
                <input asp-for="Producto.modified_by" class="form-control" />
                <span asp-validation-for="Producto.modified_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto.moified_date" class="control-label"></label>
                <input asp-for="Producto.moified_date" class="form-control" />
                <span asp-validation-for="Producto.moified_date" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Producto.categoriaID" class="control-label"></label>
                <select asp-for="Producto.categoriaID" class="form-select" >
                    {@if (Model.oListaCategoria.Count() > 0)
                    {
                        @foreach (var item in Model.oListaCategoria)
                        {
                            <option value=@item.nombre>@item.nombre</option>
                        }
                    }
                    else
                    {
                        <option value="N/A">NO HAY REGISTROS</option>
                    }

                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
