@model MarketUtilities_V2.Models.Producto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sku" class="control-label"></label>
                <input asp-for="sku" class="form-control" />
                <span asp-validation-for="sku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codigoDeBarras" class="control-label"></label>
                <input asp-for="codigoDeBarras" class="form-control" />
                <span asp-validation-for="codigoDeBarras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modified_by" class="control-label"></label>
                <input asp-for="modified_by" class="form-control" />
                <span asp-validation-for="modified_by" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="moified_date" class="control-label"></label>
                <input asp-for="moified_date" class="form-control" />
                <span asp-validation-for="moified_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
